@import "../styles/colors";

.numerator{
    fill: $navigation-gray
}

.denominator{
    fill: $bar-snv-gray
}

text {
    display: inline-block;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}