$menu-color: rgb(119, 156, 177);
$background-gray: rgb(247, 247, 246);
$background-gray-light: rgb(247, 247, 246);
$background-gray: rgb(240, 240, 240);
$background-gray-medium: rgb(249, 249, 247);
$background-gray-light: rgb(252, 252, 247);
$bar-gray:  rgb(217, 217, 216);
$bar-blue:  rgb(99, 138, 131);
$bar-snv-gray: rgb(165, 164, 164);
$navigation-gray: rgb(54, 53, 52);
$testing-red: rgb(163, 12, 12);
$highlight-orange: rgb(244, 133, 64);

$glyph-green: rgb(86, 110, 102);
$glyph-red: rgb(116, 58, 58);
$glyph-blue: rgb(81, 129, 156);

$C-color: olive;
$A-color: chocolate;
$G-color: goldenrod;
$T-color: darkcyan;
$N-color: gray;

$delete-red: rgb(150, 50, 50);
$delete-background-red: rgb(223, 206, 206);
$selected-background: rgb(160, 179, 221);
$favorite-pink: rgb(212, 124, 208)


